---
import RecipeCard from "../RecipeCard.astro";
import { recentRecipes } from "../../lib/mock.ts";
---

<div class="py-12 bg-slate-200/50 h-full">
  <div class="container mx-auto px-4 sm:px-6">
    <h2
      class="text-3xl font-bold mb-12 text-center bg-gradient-to-r from-cyan-500 to-purple-500 text-white py-6 rounded-2xl shadow-lg"
    >
      Recetas Recientes
    </h2>

    <div class="grid grid-cols-1 gap-8">
      {recentRecipes.map((recipe) => <RecipeCard {...recipe} />)}
    </div>
  </div>
</div>
