---
import RecipeCard from "../RecipeCard.astro";
import { recipes } from "../../mocks/recipes.ts";
---

<div class="container mx-auto p-6">
  <h2
    class="text-3xl font-bold mb-6 text-center bg-cyan-500 dark:bg-purple-500"
  >
    Recetas populares
  </h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    {recipes.map((recipe) => <RecipeCard {...recipe} />)}
  </div>
</div>
