---
import "/public/light-theme.css";
import "/public/dark-theme.css";
---

<div id="container">
  <header>
    <h1>Bienvenido a Mi Portafolio de Recetas</h1>
    <button id="theme-toggle-button">Toggle Theme</button>
    <link id="theme-stylesheet" rel="stylesheet" href="light-theme.css" />
  </header>
  <main>
    <section id="recetas-del-dia">
      <h2>Receta del Día</h2>
      <!-- Contenido estático aquí -->
    </section>
    <section id="recetas-mas-recientes">
      <h2>Recetas Más Recientes</h2>
      <!-- Lista de recetas recientes -->
    </section>
    <section id="recetas-populares">
      <h2>Recetas Populares</h2>
      <!-- Lista de recetas populares -->
    </section>
    <section id="categorias">
      <h2>Categorías</h2>
      <!-- Lista de categorías -->
    </section>
    <section id="consejos-de-cocina">
      <h2>Consejos de Cocina</h2>
      <!-- Tips y técnicas -->
    </section>
  </main>
  <script src="../../public/theme-toggle.js"></script>
</div>
